body {
  margin: 0; 
  display: flex; 
  height: 100vh; 
}

.image-container {
  width: 50%; 
  height: 100%; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
}

.image-container img {
  max-width: 50%; 
  height: auto; 
}
